temp
.DS_Store
.vscode/
*.dSYM
c/bin/
c/lib/
c/build/
c/tutorial/rust/target/
c/tutorial/zig/.zig-cache/
c/tutorial/zig/zig-out/
c/tutorial/go/bin/
c/tutorial/go/pkg/
c/tutorial/go/tutorial
c/tutorial/python3/__pycache__/
c/tutorial/python3/*.pyc
c/tutorial/python3/*.pyo
c/tutorial/python3/.pytest_cache/
c/tutorial/python3/venv/
c/testcase
java/bin/main/
java/bin/test/
java/lib/optional/
java/lib/.tmp-lib-resolve/
java/build/
java/.gradle/
java/.idea/
java/hs_err_pid*.log
java/transformer-rules/
c/tutorial/c/tutorial
