temp
.DS_Store
c/bin/
c/lib/
c/build/
c/tutorial/rust/target/
c/tutorial/zig/.zig-cache/
c/tutorial/zig/zig-out/
c/tutorial/go/bin/
c/tutorial/go/pkg/
java/bin/main/
java/bin/test/
java/lib/optional/
java/build/
java/.gradle/
java/.idea/
java/hs_err_pid*.log
java/transformer-rules/